<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/blog/style.css">
</head>
<body>
    <form action="/blogdelete/<%=id%>" method="POST">
    <center><h1 style="color: black;">Delete The Post</h1></center>
    <input name="username" type="text" placeholder="enter your username..."><br><br>
    <input name="password" type="password" placeholder="enter password..."><br><br>
    <input type="submit" id="submit">
    </form>
</body>
</html>