<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Information</title>
    <link rel="stylesheet" href="/views/form/style.css">
</head>
<body id="grad">
    <form action="/views/form/formpost.json" method="POST">
    Name:<br><br> <input name="name" type="text" placeholder="Your Name..."><br><br>
    Bio:<br><br> <input name="bio" type="text" placeholder="Describe Yourself"><br><br>
    Date of Birth:<br><br> <input name="dob" type="date"><br><br>
    Room Number:<br><br> <input name="roomNumber" type="text" placeholder="Your Room Number..."><br><br>
    Codeforces Profile Link:<br><br> <input name="codeforces" type="text" placeholder="Your Profile link..."><br><br>
    CodeChef Profile Link:<br><br> <input name="codechef" type="text" placeholder="Your Profile link..."><br><br>
    Github Profile Link:<br><br> <input name="github" type="text" placeholder="Your Profile..."><br><br>
    <center><button type="submit">Submit</button></center><br>
    </form> 
</body>
</html>