

#bgimg {
    background: url("/images/background.png") no-repeat center center;
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }