<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/rooms/style.css">
</head>
<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
  <a href="#polls">Polls</a>
  <a href="/form">Forms</a>
  <a href="#login">Login</a>
  <a href="#chatroom">Chatroom</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <script>
          /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
      function myFunction() {    
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }   
      </script>
      <% let i=0; %>
<%profile.forEach(function(element){ %>
    <div id="row">
        <div id="col">
        <img src="/images/<%=element.name.split(' ').join('').toLowerCase()%>.jpg" id="thumbnail">
        </div>
        <div id="col">
            <br><br><br>
            <a href="/profile/<%= indexes[i]+1 %>">
            <%=element.name%>
            </a>
            <%i++%>
        </div>
    </div>
    <%})%> 
</body>
</html>