<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/rooms/style.css">
</head>
<body>

    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="/polls">Polls</a>
      <a href="/form">Register</a>
      <a href="/rooms/s8">S-8</a>
      <a href="/rooms/s7">S-7</a>
      <a href="/rooms/s4">S-4</a>
      <a href="/broadcast">Broadcast</a>
      <a href="/createpoll">Create Poll</a>
      <a href="/viewblog">Chacha's Corner</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <script>
          /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
      function myFunction() {    
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }   
      </script><br><br>
      <div style="text-align: center; font-size: 4vw; font-weight: bolder;"><u>S-8</u></div>
      <% let i=0; %>
<%profile.forEach(function(element){ %>
    <div id="row">
        <div id="col">
        <img src="/images/<%=element.name.split(' ').join('').toLowerCase()%>.jpg" id="thumbnail">
        </div>
        <div id="col">
            <br><br><br>
            <a href="/profile/<%= indexes[i]+1 %>">
            <%=element.name%>
            </a>
            <%i++%>
        </div>
    </div>
    <%})%> 
</body>
</html>