<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/eventpending" method="POST">
    Add: <input type="text" name="todo" placeholder="What do you have in mind?"><br><br>
    by: <input type="text" name="by" placeholder="What's your name..."><br><br>
    <input type = "submit">
    </form>
</body>
</html>