<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/makepoll" method="POST">
        Username<br><input type="text" name="username" id="username"><br><br>
        Password<br><input type="password" name="password" id="password"><br><br>
        Question<br><input type="text" name="question" id="question"><br><br>
        Options(Separated by Newline)<br><textarea name="options" id="" cols="30" rows="10"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>