<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @font-face{
    font-family: acme;
    src: url('/fonts/acme.ttf');
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body
    style="background: url('/images/profilebackground.jpg') no-repeat center center; background-attachment: fixed; background-size: cover;">
    <center>
        <p style="font-size: 4vw;
        font-weight: bold; font-family: acme; color: white; text-align: center;">Error 404<p>
    </center>
    <p style="font-family: acme; font-size: 1.4vw; text-align: center;">You made a request at "<%=url%>", but it was not found on the server.</p>
</body>

</html>