@font-face{
    font-family: Lexend;
    src: url('/fonts/lexend.ttf');
  }
form{
    text-align: center;
    font-family: Verdana;
    font-size: 1.0vw;
    font-weight: bold;
}
input[type=text]{
    font-family: Lexend;
    font-weight: bolder;
    padding: 10px;
    width: 50%;
    background:none;
   border-bottom: 2px solid red;
   outline: none;
   margin: 0% 25% 0% 25%;
}

input[type=password]{
    font-family: Lexend;
    font-weight: bolder;
    padding: 10px;
    width: 50%;
    background:none;
   border-bottom: 2px solid red;
   outline: none;
   margin: 0% 25% 0% 25%;
}

input[type=submit]{
    font-family: Lexend;
    font-weight: bolder;
    padding: 8px;
    text-align: center;
    width: 100%;
    background:none;
   border-bottom: 2px solid red;
   outline: none;
   margin: 0% 20% 0% 20%;
}

textarea{
    font-family: Lexend;
    font-weight: bolder;
    padding: 10px;
    width: 50%;
    background:none;
   border: 2px solid;
   outline: none;
   margin: 0% 25% 0% 25%;
}

input:focus {
    border-bottom: 4px solid red;
}

#submit{
    cursor: pointer;
    width: 15%;
    background-color: orange; 

}

#resetpassword {
    font-family: Lexend;
    font-weight: bolder;
    padding: 8px;
    text-align: center;
    width: 100%;
    background:none;
    border-bottom: 2px solid red;
    outline: none;
    margin: 0% 20% 0% 20%;
    cursor: pointer;
    width: 15%;
    background-color: orange; 
}
