<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <center><p>Reset Password</p></center>
    <form action="/passwordchange" method="POST">
    New Password:<br><input type="text" name="password" id="password"><br><br>
    ID (leave unchanged):<br><input type="text" name="id" value="<%=id%>"><br><br>
    <input type="submit" value="Change Password">
    </form>
</body>
</html>