@font-face{
    font-family: Lexend;
    src: url('/fonts/lexend.ttf');
  }

@font-face{
    font-family: acme;
    src: url('/fonts/acme.ttf');
}

@font-face{
    font-family: lato;
    src: url('/fonts/lato.ttf');
}
@font-face{
    font-family: sacramento;
    src: url('/fonts/sacramento.ttf');
}

body{
    background: url('/images/profilebackground.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

#heading{
    font-size: 4vw;
    font-weight: bold;
    font-family: acme;
    color: white;
    text-align: center;
}

img{
    display: block;
    width: 70%;
    height: 70%;
}

.container {
    position: relative;
    width: 50%;
    height: 50%;
  }

.container:hover .overlay {
    opacity: 1;
  }

.text{
    color: white;
    font-size: 1.5vw;
    font-family: Lexend;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 70%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

.row{
    display: flex;
    margin: 10% 10% 10% 10%;
}
.col{
    flex: 50%;
    padding-right: 0px;
    padding-left: 0px;
}

#profiletext{
    font-size: 1.5vw;
    font-family: lato;
}

#profiletextsmall{
    font-family: acme;
    font-size: 1.4vw;
    text-align: left;
}

a{
    color: white;
}

body{
    margin: 0px;
}