@font-face{
    font-family: Lexend;
    src: url('/fonts/lexend.ttf');
  }

@font-face{
    font-family: acme;
    src: url('/fonts/acme.ttf');
}

@font-face{
    font-family: sacramento;
    src: url('/fonts/sacramento.ttf');
}

body{
    background: url('/images/profilebackground.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#heading{
    font-size: 4vw;
    font-weight: bold;
    font-family: acme;
    color: white;
    text-align: center;
}

img{
    width: 90%;
    height: 90%;
}

.row{
    display: flex;
    margin: 5% 10% 5% 15%;
}
.col{
    flex: 40%;
}

#profiletext{
    font-size: 2.3vw;
    font-family: sacramento;
}

#profiletextsmall{
    font-family: acme;
    font-size: 1.4vw;
    text-align: left;
}

a{
    color: white;
}